# MongoDB connection string
CONNECTION_STRING=<your_connection_uri_here>

# Name of the database that stores user information
USERS_DATABASE=database_admin

# Roles considered as developers
DEVELOPER_ROLES=["dbOwner"]

# Actions allowed for consumers
CONSUMER_ACTIONS=["find"]

# Use case template ID for MongoDB output port components
USECASETEMPLATEID=urn:dmb:utm:mongodb-outputport-template:0.0.0

# Use case template ID for MongoDB output port subcomponents
USECASETEMPLATESUBID=urn:dmb:utm:mongodb-outputport-subcomponent-template:0.0.0